.frame {
  border-color: #f0f0f0;
  background: #3B4E3B;
  box-shadow: -5px -5px 30px rgba(171, 171, 171, 0.251), 10px 10px 30px rgba(1, 1, 1, 0.2);
  border-radius: 48px 24px;
  padding: 0.8em;
  transition: 300ms;
}
.frame:hover{
  background: #ECCFAF;
}
.frameInner {
  padding: 3em;
 
  
  border-radius: 30px;
  box-shadow: inset -10px -10px 30px rgba(134, 172, 168, 0.12),
    inset 10px 10px 30px rgba(0, 0, 0, 0.452);
  border-radius: 38px 14px;
  position: relative;
}
.frameInner2 {
  padding: 1em;
  border-radius: 30px;
  background: #3B4E3B;
   
  box-shadow: inset -5px -5px 5px rgba(134, 172, 168, 0.12),
    inset 5px 3px 5px rgba(0, 0, 0, 0.452);
  border-radius: 38px 14px;
  position: relative;
}

.title {
  min-width: 51%;
  max-width: 60%;
  position: absolute;
  
  top: -3em;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}
.frameTitle {
  background-color: #5e6600;
  padding: 1em;
  box-shadow: -20px -20px 60px rgba(202, 241, 237, 0.4),
    20px 20px 60px 4px rgba(45, 64, 62, 0.5),
    inset 0px 2px 1px rgba(240, 240, 240, 0.5);
  border-radius: 24px 24px 1px 24px;
  
}
.frameSubtitle {
  max-width: fit-content;
  position: absolute;
  right: 0;
  z-index: 10;
  padding: 0.7em 1em;
  background: #dea984;
  box-shadow: -20px -20px 60px rgba(134, 172, 168, 0.12),
    10px 5px 20px rgba(151, 150, 150, 0.37);
  border-radius: 1px 1px 24px 24px;
}
